<app-canvas [frame]="currentFrame" [currentFrameId]="frameId + 1" [totalFrame]="currentHistory ? currentHistory.length - 1 : 0" ></app-canvas>
<div class="row align-items-center">
    <div class="col-auto">
        <button (click)="firstStep()" class="btn btn-outline-primary" type="button"><i class="bi-chevron-bar-left"></i></button>
        <button (click)="previousStep()" class="btn btn-outline-primary" type="button"><i class="bi-chevron-left"></i></button>
        <button (click)="playStop()" class="btn btn-outline-primary" type="button"><i [ngClass]="{ 'bi-play-fill': playerStatus === 'STOPPED', 'bi-stop-fill': playerStatus === 'PLAYING' }"></i></button>
        <button (click)="nextStep()" class="btn btn-outline-primary" type="button"><i class="bi-chevron-right"></i></button>
        <button (click)="lastStep()" class="btn btn-outline-primary" type="button"><i class="bi-chevron-bar-right"></i></button>
    </div>
    <div class="col-auto">{{ frameId + 1 }} / {{ currentHistory ? currentHistory.length - 1 : "-" }}</div>
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <ng-container *ngFor="let loopType of loopTypes | keyvalue">
                <input [value]="loopType.key" [(ngModel)]="selectedLoopType" (change)="onLoopTypeCheckboxChange(loopType.key)" type="radio" class="btn-check" name="btnradio" [id]="'radio_'+loopType.key">
                <label class="btn btn-outline-primary" [for]="'radio_'+loopType.key">{{ loopType.value }}</label>
            </ng-container>
        </div>
    </div>
    <div class="col-auto">Score: {{ currentFrame ? currentFrame.totalScore : "-" }}</div>
    <div class="col-auto">Final score: {{ currentHistory ? currentHistory[currentHistory.length - 1].totalScore : "-" }}</div>
</div>
