<div class="row">
    <app-player class="col-12 col-xl-9"></app-player>
    <app-tests-list class="a col-12 col-xl-3"></app-tests-list>
</div>
<div class="row">
    <app-history></app-history>
</div>
