<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Steps</th>
            <th scope="col">Humans</th>
            <th scope="col">Zombies</th>
            <th scope="col">Score</th>
        </tr>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-end" [ngClass]="{ 'table-success': submissionValid, 'table-danger': !submissionValid }">
                {{ totalScore }}
                <span *ngIf="totalScoreDiff !== 0">
                    (<span [ngClass]="{ 'green': totalScoreDiff > 0, 'red': totalScoreDiff < 0 }">{{ totalScoreDiff > 0 ? "+" : ""}}{{ totalScoreDiff }}</span>)
                </span>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let env of environments" (click)="changeEnvironment(env.name)" [ngClass]="{ 'table-warning': env.status === 'LOST', 'table-danger': env.status === 'ERROR', 'table-success': env.status === 'WIN', 'fw-bold active-row': env.name === environmentName }">
            <td>{{ env.name }}</td>
            <td class="text-end">{{ env.steps === -1 ? "-" : env.steps }}</td>
            <td class="text-end">{{ env.humans.left === -1 ? "-" : env.humans.left }} / {{ env.humans.total === -1 ? "-" : env.humans.total }}</td>
            <td class="text-end">{{ env.zombies.left === -1 ? "-" : env.zombies.left }} / {{ env.zombies.total === -1 ? "-" : env.zombies.total }}</td>
            <td class="text-end">
                {{ env.score === -1 ? "-" : env.score | number:"1.0-0":"fr" }}
                <span *ngIf="env.scoreDiff !== 0">
                    (<span [ngClass]="{ 'green': env.scoreDiff > 0, 'red': env.scoreDiff < 0 }">{{ env.scoreDiff > 0 ? "+" : ""}}{{ env.scoreDiff }}</span>)
                </span>
            </td>
        </tr>
    </tbody>
</table>