<div *ngIf="history" class="container-fluid">
    <div *ngFor="let frame of history.history; let i = index" class="col frame">
        <h5>Frame: {{ i }} / {{ history.history.length }}</h5>
        <div *ngFor="let log of frame.logs; let j = index" class="col">
            <a class="place" (click)="openFileInIDE(log.place)" title="Open in the IDE (to the compiled js file for now, see README).">{{ log.place }}</a>
            <div class="row p">
                <ng-container *ngFor="let line of log.output">
                    <div class="col-auto g-0"><pre *ngIf="isString(line)" class="logOutput">"{{ line | trim }}"</pre></div>
                    <div class="col-auto g-0"><pre *ngIf="!isString(line)" class="logOutput">{{ line | json | trim }}</pre></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>