.logOutput {
  font-family: monospace;
  border: 1px solid grey;
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  margin: 2px 5px;
  padding: 2px 5px;
  //display: inline-block;
}

.frame {
  background-color: rgb(252, 252, 252);
  border: 1px solid grey;
  padding: 10px;
}

.p {
  padding: 0 20px 20px;
  font-family: monospace;
}

.place {
  font-size: .8rem;
  cursor: pointer;
}