svg * {
  transition-property: none;
  transition-duration: .2s;
  transition-timing-function: linear;
}

svg circle {
  transition-property: cx, cy, x, y;
}
svg rect {
  transition-property: width, x;
}

svg text.score {
  fill: red;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}
svg {
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.entity-human {
  fill: #5171A5;
  stroke: #3c547b;
}
.entity-ash, .inrange-target-ash, .range-ashmove, .range-ashshoot {
  fill: #1C7C54;
  stroke: #145d3f;
}
.entity-ash {
  stroke: #145d3f;
}
.range-ashmove, .range-ashshoot {
  fill: rgba(28, 124, 84, .1);
}

.entity-zombie, .inrange-target-zombie, .range-zombie {
  fill: #E94F37;
  stroke: #c22c15;
}
.range-zombie {
  fill: rgba(233, 79, 55, .1);
}

