<svg (mousemove)="onMouseMove($event)" [attr.width]="width" [attr.height]="height">
    <!-- Humans -->
    <circle *ngFor="let h of frame?.humans"
            class="entity-human"
            r="12" [attr.cx]="h.x / ratio" [attr.cy]="h.y / ratio"></circle>

    <!-- Zombies -->
    <circle *ngFor="let z of frame?.zombies; trackBy: identify"
            class="range-zombie"
            [attr.r]="400 / ratio" [attr.cx]="z.x / ratio" [attr.cy]="z.y / ratio"></circle>
    <circle *ngFor="let z of frame?.zombies; trackBy: identify"
            class="inrange-target-zombie"
            r="2" [attr.cx]="z.nextX / ratio" [attr.cy]="z.nextY / ratio"></circle>
    <circle *ngFor="let z of frame?.zombies; trackBy: identify"
            class="entity-zombie"
            r="10" [attr.cx]="z.x / ratio" [attr.cy]="z.y / ratio"></circle>
<!--    <text *ngFor="let z of frame?.zombies; trackBy: identify"-->
<!--          [attr.x]="z.x / ratio" fill="black"-->
<!--          [attr.y]="z.y / ratio">-->
<!--        {{ z.id }}-->
<!--    </text>-->

    <!-- Ash -->
    <circle [attr.r]="1000 / ratio" [attr.cx]="frame ? frame.ash.x / ratio : 0" [attr.cy]="frame ? frame.ash.y / ratio : 0"
            class="range-ashmove"></circle>
    <circle *ngIf="frame?.ashTarget" [attr.r]="2000 / ratio" [attr.cx]="frame ? frame.ashTarget.x / ratio : 0" [attr.cy]="frame ? frame.ashTarget.y / ratio : 0"
            class="range-ashshoot"></circle>

    <circle r="8" [attr.cx]="frame ? frame.ash.x / ratio : 0" [attr.cy]="frame ? frame.ash.y / ratio : 0"
            class="entity-ash"></circle>
    <circle *ngIf="frame?.ashTarget" r="2" [attr.cx]="frame ? frame.ashTarget.x / ratio : 0" [attr.cy]="frame ? frame.ashTarget.y / ratio : 0"
            class="inrange-target-ash"></circle>

    <!-- Score -->
    <text *ngFor="let s of frame?.scoreData; trackBy: identify"
          class="score"
          [attr.x]="s.x / ratio" [attr.y]="s.y / ratio" text-anchor="end" dominant-baseline="text-before-edge"
          [attr.opacity]="s.opacity">
        <tspan [attr.x]="s.x / ratio" dy="0">-{{ s.zombiesKilled }} Zombies</tspan>
        <tspan [attr.x]="s.x / ratio" dy="1.2em">+{{ s.score }}</tspan>
    </text>
    <rect [attr.x]="0" [attr.y]="height - 4" [attr.width]="frameIndicatorWidth * currentFrameId" [attr.height]="4"></rect>
    <rect *ngFor="let _ of [].constructor(totalFrame); let i = index"
          [attr.x]="i * frameIndicatorWidth" [attr.y]="height - 6"
          [attr.width]="1" [attr.height]="6"></rect>
    <text x="10" y="24" color="black">x: {{ posX }} - y: {{ posY }}</text>
</svg>